{% extends 'base.html.twig' %}

{# todo: Mettre les titles sur toutes les pages #}

{% block body %}
    {#    <div class="content"> #}
    <section class="subContent large">

        <h2>Liste des sorties</h2>
        {% include "_flash.twig.html" %}
        <div class="subSubContent filters">
            {{ form_start(form) }}
            <div>
                {{ form_row(form.search) }}
            </div>

            <div class="formRow">

                <div >
                    {{ form_row(form.campus) }}
                </div>
                <div class="dates">
                    <div>
                        {{ form_row(form.dateDebut) }}
                    </div>
                    <div>
                        {{ form_row(form.dateFin) }}
                    </div>
                </div>

                <div class="dropdown-multi">
                    <button  type="button" class="dropdown-toggle">Sorties ... <img src="{{ asset('img/arrow.svg') }}" width="12px" alt="arrow down"></button>
                    <div class="dropdown-menu checkbox-inline">
                        {% for checkbox in form.sortiesQue %}
                            <div>
                                {{ form_widget(checkbox) }}
                                {{ form_label(checkbox) }}
                            </div>
                        {% endfor %}
                    </div>

                </div>

                <button type="submit" class="btnSearch"><img class="search" src="{{ asset('/img/search.svg') }}" alt="Rechercher"></button>
                {{ form_end(form) }}
            </div>
        </div>


{#        <div class="filters">
            {{ form_start(form)}}
            {{ form_widget(form) }}
            <button class="btn">Rechercher</button>
            {{ form_end(form)}}
        </div>#}


        <ul class="sortieList">
            {% for sortie in sorties %}
                <li class="sortieHome">
                    <div class="cardHeader {{ sortie.etat.code == constant('App\\Entity\\Etat::CODE_TERMINEE') ? 'cardHeaderFinished' :'' }}">
                         <p class="date">{{ sortie.dateHeureDebut|format_datetime(pattern='EE dd MMM yyyy', locale='fr')  }}</p>
                        <div>
                            {% if sortie.participants.contains(app.user) %}
{#                                <a href="{{ path("sortie_withdraw", {id: sortie.id }) }}"><img src="{{ asset("img/person.svg") }}" alt="Je participe"></a>#}
                                <button
                                        class="noButton orgaLink"
                                        onclick="displayModal(this)"
                                        data-template="withdrawModal"
                                        title="Se désinscrire de la sortie"
                                        data-second-title="{{ sortie.name }}"
                                        data-sortie-link="{{ path("sortie_withdraw",{id : sortie.id}) }}"
                                        data-sortie-second-link="{{ path("sortie_detail",{id : sortie.id}) }}">
                                    <img src="{{ asset("img/person.svg") }}" alt="Je participe">
                                </button>


                            {% endif %}
                            {% if sortie.organisateur == app.user %}
                                <a href="{{ path("sortie_edit", {id:sortie.id}) }}">
                                    <img src="{{ asset("img/tools.svg") }}" alt="Modifier la sortie">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="cardContent">
                        <div class="cardInfo">
                            <h3>{{ sortie.name }}</h3>
                            <p>Campus : {{ sortie.campus.name }}</p>
                            <p>Clôture : {{ sortie.dateLimiteInscription|date('d/m/Y') }}</p>
{#                            <p>Clôture : {{ sortie.dateLimiteInscription |  format_datetime(pattern='EEEE dd MMMM yyyy', locale='fr')   }}</p>#}
                            <p>participants : {{ sortie.participants.count }} / {{ sortie.nbInscriptionMax }}</p>
                            {% if is_granted('SORTIE_EDIT', sortie) %}
{#                            <p><span>État : </span><a class="orgaLink" href='#' title="Publier votre sortie">{{ sortie.etat.libelle }}</a></p>#}
                            <p>
                                <span>État : </span>
                                <button
                                        class="noButton orgaLink"
                                        onclick="displayModal(this)"
                                        data-template="publishModal"
                                        title="Publier votre sortie"
                                        data-second-title="{{ sortie.name }}"
                                        data-sortie-link="{{ path("sortie_publish",{id : sortie.id}) }}"
                                        data-sortie-second-link="{{ path("sortie_detail",{id : sortie.id}) }}">
                                    {{ sortie.etat.libelle }}
                                </button>
                                </p>



                            {% else %}
                            <p>État : {{ sortie.etat.libelle }}</p>

                            {% endif %}
                            <p >Organisateur :
                                <a class="orgaLink"href="{{ path('profil', {id: sortie.organisateur.id} ) }}">{{ sortie.organisateur.pseudo }}</a>
                            </p>
                        </div>
                        <div class="flexLine">
                            <div></div>
{#                            <a href="{{ path("sortie_detail")~"/"~sortie.id }}" class="btn">Détail</a>#}
                            <a href="{{ path('sortie_detail', { id: sortie.id }) }}" class="btn">Détail</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

    </section>
    {% include "modal.html.twig" %}
    <template id="publishModal">
        <h3>Publier la Sortie</h3>
        <h4 id="secondTitle"></h4>
        <p>Voulez-vous vraiment publier cette sortie ?</p>
        <p>Vous ne pourrez plus la modifier.</p>
        <p>Si vous avez un doute, allez <a id="secondLink" href="#">voir le détail.</a></p>
        <a id="modalLink" class="btn btnAccentColor" href="#">Publier</a>
    </template>
    <template id="withdrawModal">
        <h3>Se désinscrire de la sortie</h3>
        <h4 id="secondTitle"></h4>
        <p>Voulez-vous vraiment vous désinscrire de cette sortie?</p>
        <p>Si vous avez un doute, allez <a id="secondLink" href="#">voir le détail.</a></p>
        <a id="modalLink" class="btn btnAccentColor" href="#">Se désister</a>
    </template>

    <script src="{{ asset('js/multiselect-dropdown.js') }}"></script>
    <script src="{{ asset('js/modal2.js') }}"></script>
{% endblock %}

{% block title %}Accueil{% endblock %}



