{% extends 'base.html.twig' %}

{# todo: Mettre les titles sur toutes les pages #}

{% block body %}
    {#    <div class="content"> #}
    <section class="subContent large">

        <h2>Liste des sorties</h2>
        <div class="subSubContent filters">
            {{ form_start(form) }}
            <div>
                {{ form_row(form.search) }}
            </div>

            <div class="formRow">

                <div >
                    {{ form_row(form.campus) }}
                </div>
                <div class="dates">
                    <div>
                        {{ form_row(form.dateDebut) }}
                    </div>
                    <div>
                        {{ form_row(form.dateFin) }}
                    </div>
                </div>

                <div class="dropdown-multi">
                    <button  type="button" class="dropdown-toggle">Sorties ... <img src="{{ asset('img/arrow.svg') }}" width="12px" alt="arrow down"></button>
                    <div class="dropdown-menu checkbox-inline">
                        {% for checkbox in form.sortiesQue %}
                            <div>
                                {{ form_widget(checkbox) }}
                                {{ form_label(checkbox) }}
                            </div>
                        {% endfor %}
                    </div>
{#                    <div class="dropdown-menu">#}

                        {#<label><input type="checkbox" name="sortiQue[]" value="organise">Sorties que j'organise</label>
                        <label><input type="checkbox" name="thematiques[]" value="inscrit">Sorties auxquelles je suis inscrit/e</label>
                        <label><input type="checkbox" name="thematiques[]" value="pasInscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
                        <label><input type="checkbox" name="thematiques[]" value="terminee">Sorties terminées</label>#}
{#                        {{ form_row(form.sortiesQue) }}#}
{#                    </div>#}
                </div>

                <button type="submit" class="btnSearch"><img class="search" src="{{ asset('/img/search.svg') }}" alt="Rechercher"></button>
                {{ form_end(form) }}
            </div>
        </div>


{#        <div class="filters">
            {{ form_start(form)}}
            {{ form_widget(form) }}
            <button class="btn">Rechercher</button>
            {{ form_end(form)}}
        </div>#}


        <ul class="sortieList">
            {% for sortie in sorties %}
                <li class="sortieHome">
                    <div class="cardHeader {{ sortie.etat.code == constant('App\\Entity\\Etat::CODE_TERMINEE') ? 'cardHeaderFinished' :'' }}">
                         <p class="date">{{ sortie.dateHeureDebut|format_datetime(pattern='EE dd MMM yyyy', locale='fr')  }}</p>
                        <div>
                            {% if sortie.participants.contains(app.user) %}
                                <img src="{{ asset("img/person.svg") }}" alt="Je participe">
                            {% endif %}
                            {% if sortie.organisateur == app.user %}
                                <img src="{{ asset("img/tools.svg") }}" alt="Modifier la sortie">
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="cardContent">
                        <div class="cardInfo">
                            <h3>{{ sortie.name }}</h3>
                            <p>Campus : {{ sortie.campus.name }}</p>
                            <p>Clôture : {{ sortie.dateLimiteInscription|date('d/m/Y') }}</p>
{#                            <p>Clôture : {{ sortie.dateLimiteInscription |  format_datetime(pattern='EEEE dd MMMM yyyy', locale='fr')   }}</p>#}
                            <p>participants : {{ sortie.participants.count }} / {{ sortie.nbInscriptionMax }}</p>
                            <p>État : {{ sortie.etat.libelle }}</p>
                            <p >organistaeur :
                                <a class="orgaLink"href="{{ path('profil', {id: sortie.organisateur.id} ) }}">{{ sortie.organisateur.pseudo }}</a></p>
                        </div>
                        <div class="flexLine">
                            <div></div>
{#                            <a href="{{ path("sortie_detail")~"/"~sortie.id }}" class="btn">Détail</a>#}
                            <a href="{{ path('sortie_detail', { id: sortie.id }) }}" class="btn">Détail</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

    </section>
    {#    </div> #}

    <script src="{{ asset('js/multiselect-dropdown.js') }}"></script>
{% endblock %}

{% block title %}Accueil{% endblock %}



