{% extends 'base.html.twig' %}

{# todo: Mettre les titles sur toutes les pages #}

{% block body %}
    {#    <div class="content"> #}
    <section class="subContent large">

        <h2>Liste des sorties</h2>
        <div class="subSubContent filters">
            <div>
                {{ form_row(form.search) }}
            </div>

            <div class="formRow">
                <div>
                    {{ form_row(form.campus) }}
                </div>
                <div>
                    {{ form_row(form.dateDebut) }}
                </div>
                <div>
                    {{ form_row(form.dateFin) }}
                </div>
                <div>

                </div>

                <div class="dropdown-multi">
                    <button class="dropdown-toggle">Thématiques ⌄</button>
                    <div class="dropdown-menu">
                        <label><input type="checkbox" name="thematiques[]" value="organise">Sorties que j'organise</label>
                        <label><input type="checkbox" name="thematiques[]" value="inscrit">Sorties auxquelles je suis inscrit/e</label>
                        <label><input type="checkbox" name="thematiques[]" value="pasInscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
                        <label><input type="checkbox" name="thematiques[]" value="terminee">Sorties terminées</label>
                    </div>
                </div>
                <button class="btnSearch"><img class="search" src="{{ asset('/img/search.svg') }}" alt="Rechercher"></button>
            </div>
        </div>


{#        <div class="filters">
            {{ form_start(form)}}
            {{ form_widget(form) }}
            <button class="btn">Rechercher</button>
            {{ form_end(form)}}
        </div>#}


        <ul>
            {% for sortie in sorties %}
                <li>
                    <p class="date">{{ sortie.dateHeureDebut|date('d/m/Y') }}</p>
                    <div class="cardContent">
                        <div class="cardInfo">
                            <h3>{{ sortie.name }}</h3>
                            <p>Clôture : {{ sortie.dateLimiteInscription|date('d/m/Y') }}</p>
                            <p>participants : {{ sortie.nbInscriptionMax }}</p>
                            <p>État : {{ sortie.etat.libelle }}</p>
                            <p>organistaeur : {{ sortie.organisateur.pseudo }}</p>
                        </div>
                        <div class="flexLine">
                            <div></div>
                            <a href="#" class="btn">Détail</a>
                        </div>
                    </div>
                </li>


            {% endfor %}
        </ul>

    </section>
    {#    </div> #}

    <script src="js/multiselect-dropdown.js"></script>
{% endblock %}

{% block title %}Accueil{% endblock %}



