{% extends 'base.html.twig' %}

{% block title %}
    modifier le profil | {{ parent() }}
{% endblock %}

{% block body %}


    {{ form_start(userForm, {'attr': {'class': 'subContent userForm'}} ) }}

    {% if isNew %}

        <h1>Créer un nouvel utilisateur</h1>
    {% elseif app.user.id == user.id %}

        <h1>Modifier mon profil</h1>
    {% else %}

        <h1>Modifier le profil</h1>
    {% endif %}



        {% include "_flash.twig.html" %}

        {% if app.user.imageFile %}
            <img class="avatarDetail" src="{{ asset('uploads/profile_pictures/' ~ app.user.imageFile) }}" alt="Photo de profil">
        {% else %}
            <img class="avatarDetail" src="{{ asset('img/default-avatar.png') }}" alt="Photo par défaut">
        {% endif %}

        {{ form_widget(userForm) }}

    <div class="flexLine">
        <div></div>
        <div>
            <a class="btn cancelBtn" href="{{ path("profil", {id: user.id}) }}">Retour</a>
            <button class="btn">Enregistrer</button>
        </div>
    </div>
        {{ form_end(userForm) }}

{% endblock %}

