{% extends 'base.html.twig' %}

{% block body %}

    <section class="subContent">
        {% if app.user == user %}
            <h2>Mon profil</h2>
        {% else %}
            <h2>Détail du profil</h2>
        {% endif %}


        {% include "_flash.twig.html" %}



            {% if user.imageFile %}
                <img class="avatarDetail" src="{{ asset('uploads/profile_pictures/' ~ user.imageFile) }}" alt="Photo de profil">
            {% else %}
                <img class="avatarDetail" src="{{ asset('img/default-avatar.png') }}" alt="Photo par défaut">
            {% endif %}

            <h3>{{ user.pseudo }}</h3>


        <dl>
            <div class="flexLine">
                <dt>Campus :</dt>
                <dd>{{ user.campus.name ?: 'Non renseigné' }}</dd>
            </div>
            <div class="flexLine">
                <dt>Prénom :</dt>
                <dd>{{ user.firstname ?: 'Non renseigné' }}</dd>
            </div>
            <div class="flexLine">
                <dt>Nom :</dt>
                <dd>{{ user.lastname ?: 'Non renseigné' }}</dd>
            </div>
            <div class="flexLine">
                <dt>Email :</dt>
                <dd>{{ user.email }}</dd>
            </div>
            <div class="flexLine">
                <dt>Téléphone :</dt>
                <dd>{{ user.phoneNumber ?: 'Non renseigné' }}</dd>
            </div>
        </dl>
        <div>

            <a class="btn cancelBtn" href="javascript:history.back()">Retour</a>
            {% if app.user == user or is_granted('ROLE_ADMIN') %}
                <a class="btn" href="{{ path('profil_edit', {id:user.id}) }}">Modifier</a>
            {% endif %}

        </div>

    </section>

{% endblock %}

{% block title %}
    profil détail | {{ parent() }}
{% endblock %}

