{% extends 'base.html.twig' %}

{% block body %}
    <section class="subContent mLarge">


        {% if modif %}
            <h2>Modifier la sortie</h2>
        {% else %}
            <h2>Créer une sortie</h2>
        {% endif %}



        {% include "_flash.twig.html" %}
        {{ form_start(formSorti) }}
        <div class="createSortiForm">

            <div class="formCol">
                {{ form_row(formSorti.name) }}
                {{ form_row(formSorti.dateHeureDebut) }}
                {{ form_row(formSorti.dateLimiteInscription) }}
                {{ form_row(formSorti.nbInscriptionMax) }}
                <div class="flexLine">
                    <label class="required">Durée :</label>
                    <div>

                        {{ form_widget(formSorti.duree.hour, { 'attr': {'class': 'duree-hour'} }) }}
                        {{ form_widget(formSorti.duree.minute, { 'attr': {'class': 'duree-minute'} }) }}
                    </div>
                </div>
                {#                {{ form_row(formSorti.duree) }} #}
            </div>

            <div class="formCol">

                <div class="flexLine"><span>Campus : </span><span>{{ formSorti.vars.data.campus.name }}</span></div>
                {{ form_row(formSorti.lieu) }}

                <div id="infosLieu">
                    <p class="flexLine">Adresse : <span id="lieuAdresse">_____________</span></p>
                    <p class="flexLine">Code postal : <span id="lieuCodePostal">_____________</span></p>
                    <p class="flexLine">Lat. / Long. : <span id="lieuCoor">_____________</span></p>
                </div>

            </div>
        </div>
        <div class="infoContainer">
            {{ form_row(formSorti.infosSortie) }}
        </div>
        <div class="flexLine">
            <div></div>
            <div class="btnContainer">
                {% if modif %}
                    <a class="btn cancelBtn" href="{{ path("sortie_detail", {id: formSorti.vars.data.id}) }}">Retour</a>
                {% else %}
                    <a class="btn cancelBtn" href="{{ path("home") }}">Retour</a>

                {% endif %}

                {% if modif %}

                <a class="btn btn-danger" href="{{ path("sortie_supress", {id: formSorti.vars.data.id}) }}">Supprimer</a>

                {% endif %}

                <button class="btn" type="submit" name="action" value="save" >Enregistrer</button>

                <button class="btn btnAccentColor" type="submit" name="action" value="publish">Publier</button>

              {#  <button
                        class="noButton orgaLink"
                        data-template="publishModal"
                        title="Publier votre sortie"
                        data-second-title="{{ sortie.name }}"
                        data-sortie-link="{{ path("sortie_publish",{id : sortie.id}) }}"
                        data-sortie-second-link="{{ path("sortie_detail",{id : sortie.id}) }}">
                    {{ sortie.etat.libelle }}
                </button>#}

               {# <template id="publishModal">
                    <h3>Publier la Sortie</h3>
                    <h4 id="secondTitle"></h4>
                    <p>Voulez-vous vraiment publier cette sortie ?</p>
                    <p>Vous ne pourrez plus la modifier.</p>
                    <p>Si vous avez un doute, allez <a id="secondLink" href="#">voir le détail.</a></p>
                    #}{#        <a id="modalLink" class="btn btnAccentColor" href="#">Publier</a>#}{#
                    <button class="btn btnAccentColor" type="submit" name="action" value="publish">Publier</button>
                </template>#}


            </div>
        </div>

        {{ form_end(formSorti) }}
    </section>

{#    <template id="publishModal">
        <h3>Publier la Sortie</h3>
        <h4 id="secondTitle"></h4>
        <p>Voulez-vous vraiment publier cette sortie ?</p>
        <p>Vous ne pourrez plus la modifier.</p>
        <p>Si vous avez un doute, allez <a id="secondLink" href="#">voir le détail.</a></p>
#}{#        <a id="modalLink" class="btn btnAccentColor" href="#">Publier</a>#}{#
        <button class="btn btnAccentColor" type="submit" name="action" value="publish">Publier</button>
    </template>#}

    {#<template id="withdrawModal">
        <h3>Se désinscrire de la sortie</h3>
        <h4 id="secondTitle"></h4>
        <p>Voulez-vous vraiment vous désinscrire<br> de cette sortie?</p>
        <p>Si vous avez un doute, allez <a id="secondLink" href="#">voir le détail.</a></p>
        <a id="modalLink" class="btn btnAccentColor" href="#">Se désister</a>
    </template>

    <template id="supprModal">
        <h3>Supprimer la sortie</h3>
        <h4 id="secondTitle"></h4>
        <p>Voulez-vous vraiment vous supprimer cette sortie?</p>
        <a id="modalLink" class="btn btn-danger" href="#">Supprimer</a>
    </template>#}
{% endblock %}

{% block title %}

{% endblock %}

