{% extends 'base.html.twig' %}

{% block body %}

    <section class="subContent details mLarge">
        <h2>{{ sortie.name }}</h2>
        {% include "_flash.twig.html" %}

        <div class="wrapper">
        <p class="infosSortie">{{ sortie.infosSortie }}</p>

        <div class="detailInfos">
            <dl>
                <div class="flexLine">
                    <dt>Organisé par :</dt>
                    <dd><a class="orgaLink" href="{{ path('profil', {id: sortie.organisateur.id} ) }}">{{ sortie.organisateur.pseudo }}</a></dd>
                </div>
                <div class="flexLine">
                    <dt>Date :</dt>
                    <dd>{{ sortie.dateHeureDebut|format_datetime(pattern='EE dd MMM yyyy', locale='fr') }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Heure :</dt>
                    <dd>{{ sortie.dateHeureDebut|format_datetime('none', 'short', locale: 'fr')}}</dd>
                </div>
                <div class="flexLine">
                    <dt>Date limite d'inscription :</dt>
                    <dd>{{ sortie.dateLimiteInscription|format_datetime(pattern='EE dd MMM yyyy', locale='fr') }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Nombre de participants :</dt>
                    <dd>{{ sortie.participants.count }} / {{ sortie.nbInscriptionMax }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Durée :</dt>
                    <dd>{{ sortie.dureeFormate }} min.</dd>
                </div>

            </dl>

            <dl>
                <div class="flexLine">
                    <dt>Campus :</dt>
                    <dd>{{ sortie.campus ? sortie.campus.name : "non renseigné" }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Ville :</dt>
                    <dd>{{ sortie.lieu ? sortie.lieu.ville.name : "non renseigné" }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Lieu :</dt>
                    <dd>{{  sortie.lieu ? sortie.lieu.name  : "non renseigné"  }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Rue :</dt>
                    <dd>{{ sortie.lieu ? sortie.lieu.rue : "non renseigné"  }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Code postal :</dt>
                    <dd>{{ sortie.lieu ? sortie.lieu.ville.codePostal : "non renseigné" }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Ville :</dt>
                    <dd>{{ sortie.lieu ?sortie.lieu.ville.name : "non renseigné" }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Latitude / Longitude :</dt>
                    {% if sortie.lieu %}
                        <dd>{{ sortie.lieu.latitude }} / {{ sortie.lieu.longitude }}</dd>
                        {% else %}
                        <dd>{{ "non renseigné" }}</dd>
                    {% endif %}
                </div>
            </dl>
            </div>

        </div>
        {% if  sortie.etat.code == constant('App\\Entity\\Etat::CODE_ANNULEE')%}
            <h3>Motif de l'annulation :</h3>
            <p class="motifAnnulation">{{ sortie.motifAnnulation }}</p>
        {% endif %}

        <a class="btn cancelBtn" href="{{ path("home") }}">Retour</a>
        {% if is_granted('SORTIE_EDIT', sortie) %}
            <a class="btn" href="{{ path('sortie_edit', {id: sortie.id}) }}">Modifier</a>
        {% endif %}


        {% if is_granted('SORTIE_CANCELABLE', sortie) %}
            <a class="btn" href="{{ path('sortie_cancel', {id: sortie.id}) }}">Annuler la sortie</a>
        {% endif %}

        {% if is_granted('SORTIE_WITHDRAW', sortie) %}
            <a class="btn btn-danger" href="{{ path('sortie_withdraw', {id: sortie.id}) }}">Se désister</a>
        {% endif %}

        {% if is_granted('SORTIE_ENROLL', sortie) %}
            <a class="btn btnAccentColor" href="{{ path('sortie_enroll', {id: sortie.id}) }}">S'inscrire</a>
        {% endif %}

        {% if is_granted('SORTIE_EDIT', sortie) %}
            <a class="btn btnAccentColor" href="{{ path('sortie_publish', {id: sortie.id}) }}">S'inscrire</a>
        {% endif %}


    </section>
    <section class="participantsection">
        <h3>Participants :</h3>
        <ul class="participantsList">
            {% for participant in sortie.participants  %}
                <li>
                    <a href="{{ path('profil', {id: participant.id} ) }}">{{ participant.pseudo }}</a><span>-  {{ participant.firstname }} {{ participant.lastname }}</span>
                </li>

            {% endfor %}
        </ul>
    </section>
{% endblock %}

{% block title %}

{% endblock %}

