{% extends 'base.html.twig' %}

{% block body %}

    <section class="subContent details">
        <h2>{{ sortie.name }}</h2>
        {% include "_flash.twig.html" %}
        <p class="infosSortie">{{ sortie.infosSortie }}</p>

        <div class="detailInfos">
            <dl>
                <div class="flexLine">
                    <dt>Organisé par :</dt>
                    <dd><a class="orgaLink" href="{{ path('profil', {id: sortie.organisateur.id} ) }}">{{ sortie.organisateur.pseudo }}</a></dd>
                </div>
                <div class="flexLine">
                    <dt>Date :</dt>
                    <dd>{{ sortie.dateHeureDebut|format_datetime(pattern='EE dd MMM yyyy', locale='fr') }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Heure :</dt>
                    <dd>{{ sortie.dateHeureDebut|format_datetime('none', 'short', locale: 'fr')}}</dd>
                </div>
                <div class="flexLine">
                    <dt>Date limite d'inscription</dt>
                    <dd>{{ sortie.dateLimiteInscription|format_datetime(pattern='EE dd MMM yyyy', locale='fr') }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Nombre de place</dt>
                    <dd>{{ sortie.participants.count }} / {{ sortie.nbInscriptionMax }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Durée</dt>
                    <dd>{{ sortie.dureeFormate }} min.</dd>
                </div>

            </dl>

            <dl>
                <div class="flexLine">
                    <dt>Campus</dt>
                    <dd>{{ sortie.campus ? sortie.campus.name : "non renseigné" }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Ville</dt>
                    <dd>{{ sortie.lieu ? sortie.lieu.ville.name : "non renseigné" }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Lieu</dt>
                    <dd>{{  sortie.lieu ? sortie.lieu.name  : "non renseigné"  }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Rue</dt>
                    <dd>{{ sortie.lieu ? sortie.lieu.rue : "non renseigné"  }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Code postal</dt>
                    <dd>{{ sortie.lieu ? sortie.lieu.ville.codePostal : "non renseigné" }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Ville</dt>
                    <dd>{{ sortie.lieu ?sortie.lieu.ville.name : "non renseigné" }}</dd>
                </div>
                <div class="flexLine">
                    <dt>Latitude / Longitude</dt>
                    {% if sortie.lieu %}
                        <dd>{{ sortie.lieu.latitude }} / {{ sortie.lieu.longitude }}</dd>
                        {% else %}
                        <dd>{{ "non renseigné" }}</dd>

                    {% endif %}
                </div>
            </dl>
            </div>

            {% if is_granted('SORTIE_EDIT', sortie) %}
                <a class="btn" href="{{ path('sortie_edit', {id: sortie.id}) }}">Modifier</a>
            {% endif %}

        {#{% if app.user == sortie.organisateur and sortie.etat.libelle == 'En création'  %}

            <a class="btn" href="{{ path('sortie_edit', {id:sortie.id}) }}">Modifier</a>


        {% endif %}#}
    </section>
    <section class="participantsection">
        <h3>Participants :</h3>
        <ul class="participantsList">
            {% for participant in sortie.participants  %}
                <li>
                    <a href="{{ path('profil', {id: participant.id} ) }}">{{ participant.pseudo }}</a><span>-  {{ participant.firstname }} {{ participant.lastname }}</span>
                </li>

            {% endfor %}
        </ul>
    </section>
{% endblock %}

{% block title %}

{% endblock %}

