<div class="content">

    <h1 id="logo"><a href="{{ path('home') }}"><img id="logoImg" src="{{ '/img/logo2.png' }}" alt="logo sortir.com"></a></h1>

    <nav>
        <button class="btnBurger">
            <img class="hamburger" src="{{ asset('img/hamburger2.svg') }}" id="hamburger" alt="hamburger">
        </button>

            {% if  app.user %}
        <ul>
{#            <li><a href="#">Administration</a></li>#}
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('sortie_create') }}">Créer une sortie</a></li>

            <li><a href="{{ path('profil', {id: app.user.id} ) }}">Mon profil</a></li>
            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>


        </ul>
            {% endif %}
    </nav>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const btnBurger = document.querySelector('.btnBurger');
            const menu = document.querySelector('nav ul');

            btnBurger.addEventListener('click', () => {
                menu.classList.toggle('open');
            });
        });
    </script>
</div>

